body {
    background-color: white;
    margin: 0em;
    padding: 0em;
    display: flex;
}

.container {
    display: flex;
    width: 50vw;
    height: 45vh;
    background-color: rgb(45, 156, 121);
    margin-left: 15em;
    margin-top: 8em;
    border-radius: 75px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.mando-der {
    width: 10vw;
    height: 45vh;
}

.guion {
    background-image: linear-gradient(whitesmoke, rgb(199, 198, 198));
    width: 2em;
    height: 0.5em;
    margin-left: 7em;
    margin-top: 1em;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.stick1 {
    background-image: linear-gradient(whitesmoke, rgb(199, 198, 198));
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 3em;
    margin-top: 2em;
    border: 1px groove black;
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    outline: 1px solid black;
    outline-offset: -5px;
}

.stick2 {
    background-image: linear-gradient(whitesmoke, rgb(199, 198, 198));
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 2em;
    margin-top: -1em;
    border: 1px groove black;
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    outline: 1px solid black;
    outline-offset: -5px;
}

.cruz {
    display: grid;
    position: relative;
    width: 7vw;
    height: 15vh;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

#cruz1 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: whitesmoke;
    box-shadow: 6px 6px 5px 2px rgba(0, 0, 0, 0.75);
}

#cruz2 {
    grid-column: 2;
    grid-row: 3;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#cruz3 {
    grid-column: 3;
    grid-row: 2;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#cruz4 {
    grid-column: 1;
    grid-row: 2;
    border-right: none;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

#cruz5 {
    grid-column: 2;
    grid-row: 2;
    background-color: whitesmoke;
}

.cuadrado {
    background-image: linear-gradient(whitesmoke, rgb(199, 198, 198));
    color: whitesmoke;
    width: 20px;
    height: 20px;
    margin-top: 3.5em;
    margin-left: 8.5em;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.pantalla {
    width: 30vw;
    height: 35vh;
    margin-top: 0.5em;
}

.mando-izq {
    width: 10vw;
    height: 45vh;
}

.botones {
    display: grid;
    width: 15vw;
    height: 20vh;
    grid-template-columns: 0.15fr 0.15fr 0.3fr;
    grid-template-rows: 0.15fr 0.15fr 0.25fr;
    margin-top: 2em;
    margin-left: 1em;
}

.circulo1 {
    background-image: linear-gradient(whitesmoke, rgb(199, 198, 198));
    width: 35px;
    height: 35px;
    border-radius: 100%;
    grid-column: 2;
    grid-row: 1;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.circulo2 {
    background-image: linear-gradient(whitesmoke, rgb(199, 198, 198));
    width: 35px;
    height: 35px;
    border-radius: 100%;
    grid-column: 1;
    grid-row: 2;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.circulo3 {
    background-image: linear-gradient(whitesmoke, rgb(199, 198, 198));
    width: 35px;
    height: 35px;
    border-radius: 100%;
    grid-column: 3;
    grid-row: 2;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.circulo4 {
    background-image: linear-gradient(whitesmoke, rgb(199, 198, 198));
    width: 35px;
    height: 35px;
    border-radius: 100%;
    grid-column: 2;
    grid-row: 3;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.circulo {
    background-image: linear-gradient(whitesmoke, rgb(199, 198, 198));
    width: 20px;
    height: 20px;
    border-radius: 100px;
    color: whitesmoke;
    margin-top: 3.2em;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

h2 {
    color: white;
    text-shadow: 2px 2px 2px black;
}

img {
    width: 28vw;
    height: 38vh;
    margin-left: 0.6em;
    border: 3px solid black;
}

.circulo1:active {
    box-shadow: none
}

.circulo2:active {
    box-shadow: none
}

.circulo3:active {
    box-shadow: none
}

.circulo4:active {
    box-shadow: none
}

.marco {
    border: 1px solid;
    margin: 0.5em;
}

.cuadrado:active {
    box-shadow: none
}

.guion:active {
    box-shadow: none
}

.stick1:active {
    box-shadow: none
}

.stick2:active {
    box-shadow: none
}

.circulo:active {
    box-shadow: none
}

.cruz-p {
    color: white;
    font-size: 1.5em;
    margin-top: 0.1em;
    text-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}